$pc-media: 960px;
$pcs-media: 959px;
$pad-media: 760px;
$pads-media: 759px;
$phone-media: 480px;
$phones-media: 479px;

$grassgreen: #2ed97d;
$blue: #0099ff;
$gray: #989898;
$darkgray: #444444;
$red: #f00034;
